@mixin common_styles {
    width: 300px;
    height: 350px;
    display: grid;
    margin: 13vh auto;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center center;
}

.arena {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "paper scissors"
        "rock rock";
    @include common_styles
}

.bonus {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "scissors scissors"
        "spock  paper"
        "lizard rock";
    @include common_styles
}