.paper {
    background: url(../images/icon-paper.svg) center center no-repeat white;
    background-size: 40%;
    border: 12px solid hsl(230, 89%, 65%);
    box-shadow: 0 7px 0 1px hsl(230, 89%, 62%);
    border-radius: 50%;
    width: 125px;
    height: 125px;
    grid-area: paper;
}

.scissors {
    background: url(../images/icon-scissors.svg) center center no-repeat white;
    background-size: 40%;
    border: 12px solid hsl(40, 84%, 53%);
    box-shadow: 0 7px 0 1px hsl(39, 89%, 49%);
    border-radius: 50%;
    position: relative;
    width: 125px;
    height: 125px;
    grid-area: scissors;
    justify-self: center;
}

.rock {
    background: url(../images/icon-rock.svg) center center no-repeat white;
    background-size: 40%;
    border: 12px solid hsl(349, 70%, 56%);
    box-shadow: 0 7px 0 1px hsl(349, 71%, 52%);
    border-radius: 50%;
    width: 125px;
    height: 125px;
    grid-area: rock;
    justify-self: center;
}

.lizard {
    background: url(../images/icon-lizard.svg) center center no-repeat white;
    background-size: 40%;
    border: 12px solid hsl(261, 72%, 63%);
    box-shadow: 0 7px 0 1px hsl(261, 73%, 60%);
    border-radius: 50%;
    position: relative;
    width: 125px;
    height: 125px;
    align-self: center;
    grid-area: lizard;
}

.spock {
    background: url(../images/icon-spock.svg) center center no-repeat white;
    background-size: 40%;
    border: 12px solid hsl(189, 58%, 57%);
    box-shadow: 0 7px 0 1px hsl(189, 59%, 53%);
    border-radius: 50%;
    position: relative;
    left: 5%;
    width: 125px;
    height: 125px;
    grid-area: spock;
}

@media (max-width: 768px) {

    .paper,
    .scissors,
    .rock,
    .lizard,
    .spock {
        width: 100px;
        height: 100px;
    }

}