@import url("../src/styles/game.scss");
@import url("../src/styles/arena.scss");
@import url("../src/styles/header.scss");
@import url("../src/styles/buttonStyles.scss");
@import url("../src/styles/modal.scss");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: radial-gradient(circle farthest-corner, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.app {
    font-family: "Barlow Semi Condensed", 'Cambria Math';


    .btn-container {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;

        // .mode {
        //     width: 100px;
        //     height: 30px;
        //     font-size: 1.5em;
        //     border: 0;
        //     color: hsl(237deg, 49%, 15%);
        //     border-radius: 10px;
        //     font-weight: 600;

        //     &:hover {
        //         border: 2px solid #fff;
        //         background: transparent;
        //         color: white;
        //     }
        // }

        .mode,
        .rules {
            align-self: end;
            width: 100px;
            height: 40px;
            border: 1px solid #fff;
            color: #fff;
            border-radius: 10px;
            background: transparent;
            font-weight: 600;

            &:hover {
                border: 0;
                background-color: #fff;
                color: hsl(237deg, 49%, 15%);
            }
        }
    }
}

.d-none {
    display: none;
}